.git
node_modules
vendor
.env
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.DS_Store
docker-compose.yml
Dockerfile
Dockerfile.simple
.dockerignore
docs
*.md
.vscode
.idea
